dialog {
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings .close-modal-icon {
  position: absolute;
  margin: -8px;
  align-self: flex-end;
  border: none;
  background: none;
}

.settings > h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.settings-category-title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.settings span {
  display: inline-block;
  width: 6rem;
}

.settings input {
  width: 4rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline-color: rgb(28, 149, 149);
}

.settings .default-settings-button {
  width: fit-content;
  font-size: 16px;
  margin-top: 0.5rem;
  border-radius: 10px;
  border-color: teal;
  padding: 5px 20px;
}
